<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="file"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="debug.log" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d %p [%t] %c (%M:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="con" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<logger name="mu" additivity="false">
		<level value="debug" />
		<appender-ref ref="con" />
		<appender-ref ref="file" />
	</logger>

	<root>
		<level value="NONE" />
		<appender-ref ref="con" />
	</root>

</log4j:configuration>
