<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension point="org.eclipse.ui.commands">
    <command defaultHandler="org.mcv.git.actions.GitGoAction" id="org.mcv.git.actions.GitGoAction" name="GitGo" />
  </extension>
	
  <extension point="org.eclipse.ui.menus">
    <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=additions">
      <command commandId="org.mcv.git.actions.GitGoAction" icon="res/cat16.png" label="GitGo" style="push" />
    </menuContribution>
  </extension>

</plugin>
